study!!/unoKim/study_XML/ch05/list.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:simpleType name="sno">
		<xsd:restriction base="xsd:string"></xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="memType">
		<xsd:list itemType="sno"></xsd:list>
	</xsd:simpleType>
	<xsd:element name="student">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="groupName" type="xsd:string"></xsd:element>
				<xsd:element name="member" type="memType"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>